.btn-primary {
  background-color: #2ecc71 !important;
}

.badge-primary {
  background-color: #2ecc71 !important;
}

.blue-text {
  color: #27ae60 !important;
}

.blue.accent-3 {
  background-color: #27ae60 !important;
}

a {
  color: #27ae60 !important;
}

.paper-nav-toggle i {
  color: #1b5e20 !important;
  background: #1b5e20 !important;
}

.paper-nav-toggle i::after, .paper-nav-toggle i::before {
  background: #1b5e20 !important;
}

.offcanvas .sidebar-menu > li.active::after {
  background: #27ae60;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff !important;
    background-color: #2ecc71;
    border-color: #2ecc71;
}

.my-btn-tour {
	margin: 4px;
}

.my-btn-tour-delete {
	background-color: #f39c12 !important;
}

.my-btn-tour-delete i {
	font-size: 14px !important;
}