.my-header {
  background-image: url(../img/landing.jpg);
	display: flex;
	flex-direction: column;
  height: 100vh;
	margin-bottom: 10rem;
}

.my-nav {
	display: flex;
	flex-direction: row;
  padding: 0 5rem;
  height: 7rem;
}

.header--logo img {
	height: 7rem important;
}

.landing {
	display: flex;
	flex-direction: column;
  width: auto;
}

.hero-text-box {
	padding-bottom: 10rem;
  width: auto;
  position: absolute;
  top: 33%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.hero-text-box p {
	font-size: 4rem;
	font-weight: bold;
	color: #f3f3ff;
}

.header__logo {
    margin-top: 13px;
    flex: 1 0 0;
}

.landing-img {
	position: absolute;
	top: 40%;
	left: 13%;
	margin-left: auto;
	margin-right: auto;
	z-index: 1000;
}

.logo-landing {
	display: block;
	float: left;
	padding: 20px;
	z-index: 1000;
}

.logo-landing img {
	border-radius: 7px;
  height: 450px;
  width: 450px;
  background-size: cover;
  background-position: center;
}

.row {
  max-width: 1140px;
  margin: 15rem auto; /*top,bottom: 0; left,right: auto */
}

.pre-main {
	display: flex;
	flex-direction: row;
}

.pre-main-logo {
	flex: 1;
}

.pre-main-text {
	flex: 2;
}

.pre-main-text p {
	font-size: 2.3rem;
	font-weight: 600;
}


/*------------ CHECKOUT ------------*/
.row-pm {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
	max-width: 1250px;
	margin: auto;
}

.col-25-pm {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.col-50-pm {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-75-pm {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.col-25-pm,
.col-50-pm,
.col-75-pm {
  padding: 0 16px;
}

.container-pm {
  background-color: #f8f8f9;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

.icon-container-pm {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn-pm {
  background-color: #4CAF50;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn-pm:hover {
  background-color: #45a049;
}

span.price {
  float: right;
  color: grey;
}

.input-pm {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

/*------------ Navigation bar Client ------------*/
.vertical-nav {
     min-width: 17rem;
     width: 20rem;
     height: 100vh;
     position: fixed;
     top: 0;
     left: 0;
     box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
     transition: all 0.4s;
 }

.page-content {
    width: calc(100% - 17rem);
    margin-left: 17rem;
    transition: all 0.4s;
}

/* for toggle behavior */

#sidebar.active {
    margin-left: -20rem;
}

#content.active {
    width: 100%;
    margin: 0;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -17rem;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
        margin: 0;
    }
    #content.active {
        margin-left: 17rem;
        width: calc(100% - 17rem);
    }
}

/*
*
* ==========================================
* FOR DEMO PURPOSE
* ==========================================
*
*/

/*
body {
    background: #599fd9;
    background: -webkit-linear-gradient(to right, #599fd9, #c2e59c);
    background: linear-gradient(to right, #599fd9, #c2e59c);
    min-height: 100vh;
    overflow-x: hidden;
}*/

.separator {
    margin: 3rem 0;
    border-bottom: 1px dashed #fff;
}

.text-uppercase {
    letter-spacing: 0.1em;
}

.text-gray {
    color: #aaa;
}

.text-primary {
    color: #28a745!important;
}

.my-nav-general {
    font-size: 15px;
}
