.my-header {
    background-image: linear-gradient(#0000009e, rgba(46, 204, 113, 0.4)), url(/template/web/img/hero-img.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.my-nav {
	display: flex;
	flex-direction: row;
  padding: 0 5rem;
  height: 7rem;
}

.header--logo img {
	height: 7rem !important;
}

.landing {
	display: flex;
	flex-direction: column;
    width: auto;
}

.hero-text-box {
    width: 1140px;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.hero-text-box h1 {
    color: #ffffff;
    display: block;
    font-size: 6rem;
    font-weight: 600;
    letter-spacing: 3.5rem;
}

.sub-hero {
    color: #ffffff;
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
}

.my-btn-hero {
    background-color: #ffffff;
    margin-top: 6rem;
    color: #000;
}

.hero-text-box p {
	font-size: 4rem;
	font-weight: bold;
	color: #f3f3ff;
}

.header__logo {
    flex: 1 0 0;
    text-align: center;
}

.landing-img {
	position: absolute;
	top: 40%;
	left: 13%;
	margin-left: auto;
	margin-right: auto;
	z-index: 1000;
}

.logo-landing {
	display: block;
	float: left;
	padding: 20px;
	z-index: 1000;
}

.logo-landing img {
	border-radius: 7px;
  height: 450px;
  width: 450px;
  background-size: cover;
  background-position: center;
}

.row {
  max-width: 1140px;
  margin: 10rem auto; /*top,bottom: 0; left,right: auto */
}

.pre-main {
	display: flex;
	flex-direction: row;
}

.pre-main-logo {
	flex: 1;
}

.pre-main-text {
	flex: 2;
}

.pre-main-text p {
	font-size: 2.3rem;
	font-weight: 600;
}


/*------------ CHECKOUT ------------*/
.row-pm {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
	max-width: 1250px;
	margin: auto;
}

.col-25-pm {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.col-50-pm {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-75-pm {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.col-25-pm,
.col-50-pm,
.col-75-pm {
  padding: 0 16px;
}

.container-pm {
  background-color: #f8f8f9;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

.icon-container-pm {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn-pm {
  background-color: #4CAF50;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn-pm:hover {
  background-color: #45a049;
}

span.price {
  float: right;
  color: grey;
}

.input-pm {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

/*------------ Navigation bar Client ------------*/
.vertical-nav {
     min-width: 17rem;
     width: 20rem;
     height: 100vh;
     position: fixed;
     top: 0;
     left: 0;
     box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
     transition: all 0.4s;
 }

.page-content {
    width: calc(100% - 17rem);
    margin-left: 17rem;
    transition: all 0.4s;
}

/* for toggle behavior */

#sidebar.active {
    margin-left: -20rem;
}

#content.active {
    width: 100%;
    margin: 0;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -17rem;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
        margin: 0;
    }
    #content.active {
        margin-left: 17rem;
        width: calc(100% - 17rem);
    }
}

/*
*
* ==========================================
* FOR DEMO PURPOSE
* ==========================================
*
*/

/*
body {
    background: #599fd9;
    background: -webkit-linear-gradient(to right, #599fd9, #c2e59c);
    background: linear-gradient(to right, #599fd9, #c2e59c);
    min-height: 100vh;
    overflow-x: hidden;
}*/

.separator {
    margin: 3rem 0;
    border-bottom: 1px dashed #fff;
}

.text-uppercase {
    letter-spacing: 0.1em;
}

.text-gray {
    color: #aaa;
}

.text-primary {
    color: #28a745!important;
}

.my-nav-general {
    font-size: 15px;
}

/* MODAL */
.bg-modal {
    background-color: rgb(78 78 78 / 80%);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-contents {
    height: fit-content;
    width: 500px;
    background-color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    border-radius: 4px;
}

.modal-contens input {
    margin: 15px auto;
    display: block;
    width: 50%;
    padding: 8px;
    border: 1px solid gray;
}

.close {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 42px;
    color: #333;
    transform: rotate(45deg);
    cursor: pointer;
}

.payment-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.payment-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.payment-container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.payment-container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.payment-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.payment-container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.section-about {
    background-color: #f7f7f7;
    padding: 10rem 0;
}

.row [class^="my-col-"] {
    float: left;
}

.row [class^="my-col-"]:not(:last-child) {
    margin-right: 6rem;
}

.my-col-1-of-2 {
    width: calc((100% - 6rem) / 2);
}

.my-col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4);
}

.u-margin-bottom-big {
    margin-bottom: 8rem !important;
}

.u-center-text {
    text-align: center !important;
}

.u-margin-bottom-small {
    margin-bottom: 1.5rem !important;
}

.my-heading-about {
    font-size: 4.25rem;
}

.heading-tertiary {
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph {
    font-size: 1.6rem;
}

.paragraph:not(:last-child) {
    margin-bottom: 3rem;
}

/*popular_destination_area*/

.popular_destination_area {
    /*padding-top: 100px;*/
    /*padding-bottom: 100px;*/
}

.popular_destination_area .single_destination {
    position: relative;
    margin-bottom: 30px;
    border-radius: 5px;
    overflow: hidden;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.popular_destination_area .single_destination:before {
    background: -moz-linear-gradient(top, rgba(4, 14, 39, 0) 0%, rgba(4, 14, 39, 0.7) 100%);
    background: -webkit-linear-gradient(top, rgba(4, 14, 39, 0) 0%, rgba(4, 14, 39, 0.7) 100%);
    background: linear-gradient(to bottom, rgba(4, 14, 39, 0) 0%, rgba(4, 14, 39, 0.7) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00040e27', endColorstr='#b3040e27',GradientType=0 );
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    position: absolute;
}

.popular_destination_area .single_destination .thumb img {
    width: 100%;
    height: 230px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.popular_destination_area .single_destination .content {
    position: absolute;
    left: 30px;
    bottom: 30px;
    z-index: 7;
}

.popular_destination_area .single_destination .content p {
    margin-bottom: 0;
    font-size: 22px;
    color: #fff;
    font-weight: 400;
    font-family: "Rubik", sans-serif;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.popular_destination_area .single_destination .content p a {
    display: inline-block;
    background: #1EC6B6;
    font-size: 12px;
    border-radius: 30px;
    font-weight: 400;
    padding: 0px 12px;
    height: 25px;
    line-height: 25px;
    color: #fff;
    margin-left: 10px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.popular_destination_area .single_destination:hover {
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
}

.popular_destination_area .single_destination:hover .content p {
    color: #FF4A52;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.popular_destination_area .single_destination:hover .content p a {
    background: #FF4A52;
    color: #fff;
    text-decoration: none;
}

/*SEARCH*/

.popular_places_area {
    /*padding-top: 142px;*/
    padding-bottom: 150px;
    background: #F7FAFD;
}

.filter_result_wrap h3 {
    font-size: 16px;
    font-weight: 500;
    color: #001D38;
    margin-bottom: 26px;
}

.filter_result_wrap .filter_bordered {
    border: 1px solid #DEE2E7;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 25px;
}

.filter_result_wrap .filter_inner {
    display: block;
    overflow: visible;
}

.filter_result_wrap .filter_inner .nice-select {
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    color: #AAB1B7;
    font-weight: 300;
    background: transparent;
    border: 1px solid #DEE2E7;
    margin-bottom: 15px;
}

.filter_result_wrap .filter_inner .nice-select.open .list {
    width: 100%;
}

.filter_result_wrap .filter_inner .nice-select::after {
    border-bottom: 2px solid #90a1b5;
    border-right: 2px solid #90a1b5;
    content: '';
    display: block;
    height: 5px;
    margin-top: -4px;
    pointer-events: none;
    position: absolute;
    right: 12px;
    top: 50%;
    -webkit-transform-origin: 66% 66%;
    -ms-transform-origin: 66% 66%;
    transform-origin: 66% 66%;
    -webkit-transform: rotate(
            45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(
            45deg);
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    width: 5px;
}

.filter_result_wrap .range_slider_wrap span.range {
    color: #040E27;
    font-size: 16px;
    font-weight: 400;
    display: block;
    margin-bottom: 15px;
}

.filter_result_wrap .range_slider_wrap .ui-widget.ui-widget-content {
    border: 0;
    background: #FFD8DA;
}

.filter_result_wrap .range_slider_wrap .ui-slider-horizontal {
    height: 2px;
}

.filter_result_wrap .range_slider_wrap .ui-widget-header {
    background: #FF4A52;
}

.filter_result_wrap .range_slider_wrap .ui-slider-horizontal .ui-slider-handle {
    top: -7px;
    margin-left: -.6em;
}

.filter_result_wrap .range_slider_wrap p {
    margin-top: 14px;
    margin-bottom: 27px;
}

.filter_result_wrap .reset_btn button {
    width: 100%;
}

.boxed-btn4 {
    background: #FF4A52;
    color: #fff;
    display: inline-block;
    padding: 13px 39px;
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 500;
    border: 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    text-transform: capitalize;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer;
}

.filter_result_wrap .filter_inner .nice-select .option {
    cursor: pointer;
    font-weight: 400;
    line-height: 40px;
    list-style: none;
    min-height: 40px;
    outline: none;
    padding-left: 18px;
    padding-right: 29px;
    text-align: left;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    color: #000;
    font-weight: 400;
}